.btn-mobile {
  border: var(--blue);
}
.navbar {
  align-items: center;
  background-color: var(--black);
  height: 80px;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: 100%;
}

.logo {
  color: var(--whitePure);
  justify-self: start;
  margin: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.img {
  margin-top: 0.4rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 85vw;
  justify-content: end;
}

.nav-item {
  height: 72px;
}

.nav-links {
  color: var(--whitePure);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid var(--blue);
  transition: all 0.2s ease-out;
}
.no-border:hover {
  border: none;
}
.no-border {
  border: none;
}
.io-menu {
  font-size: 2rem;
  color: var(--whitePure);
}

.menu-icon {
  display: none;
}
.nav-links-mobile {
  display: none;
}
.logo-span {
  text-decoration: none;
  color: var(--whitePure);
}
.iniciar-sesion {
  width: 150 px;
  padding: 10 px 0;
}
@media screen and (max-width: 960px) {
  .nav-item {
    height: 40px;
    width: 50%;
    padding: 1em 25%;
  }
  .nav-menu {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    grid-gap: 14.5%;
  }
  .nav-menu.active {
    background: var(--blue);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    margin: 1em 0 0 0;
    padding: 0.5em 0 0;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    border-bottom: 4px solid var(--darkBlue);
    background-color: var(--whitePure);
    color: var(--black);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .io-close {
    color: var(--whitePure);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 1em 0;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--whitePure);
    padding: 14px 0px;
    border: 1px solid var(--whitePure);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: var(--whitePure);
    color: var(--black);
    transition: 250ms;
  }
}
@media screen and (max-width: 500px) {
  .logo-span {
    display: none;
  }
}
